{% extends "EcommerceBundle::layout.html.twig" %}
{%block title%}{%endblock%}
{%block stylsheet%}{%endblock%}
{% set totalHT=0 %}
{% set totalTTC=0 %}
{% set tva=0 %}
{%block navigation%}
	<div>{{render(controller('EcommerceBundle:Public:menu'))}}</div>
{%endblock%}
{%block body%}
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li><a href="cart.html">Cart</a></li>
					</ul>
				</div>
			</div>
			
			<div class="row">
				<div class="product well">
					<table class="table table-striped table">
						<tr>
							<td>Produit</td>
							<td>Quantite</td>
							<td>Prix Unitaire</td>
							<td>Prix Total </td>

						</tr>
						{% for produit in commande.commande.produit %}
						<tr>
							
							<td>{{produit.reference}}</td>
							<td>{{produit.quantite}}</td>
							<td>{{produit.prixHT}}</td>
							<td>{{produit.prixHT * produit.quantite}}
							
						</tr>
						
						{%endfor%}
					</table>
				</div>
				<div class="col-md-3">
					<h6>Adresse de livraison</h6><br />
					{{commande.commande.livraison.nom}}<br/>
					{{commande.commande.livraison.adresse}} {{commande.commande.livraison.cp}} {{commande.commande.livraison.ville}}<br/>
					{{commande.commande.livraison.pays}}<br/><br /><br />
					<center>
						<a href="{{path('ecommerce_livraison')}}" class="btn btn-1">Retour</a>
					</center>
				</div>
				
				<div class="col-md-3">
					<h6>Adresse de facturation</h6><br />
					{{commande.commande.facturation.nom}}<br/>
					{{commande.commande.facturation.adresse}} {{commande.commande.facturation.cp}} {{commande.commande.facturation.ville}}<br/>
					{{commande.commande.facturation.pays}}
				</div>

				<div class="col-md-6">
				
					<table class="table table-striped table">
							<h6>Price Details</h6>
							<tr>
								<td>Total prix TTC</td>
								<td>{{commande.commande.prixHT}}</td>
							</tr>
							{#for valeur in commande.commande.tva %}
							<tr>
								<td>TVA</td>
								<td>{{valeur.tva}}</td>
							</tr>
							{%endfor#}
							
							{#<tr style="border-top: 1px solid #333">
								<td><h6>TOTAL prix TTC</h6></td>
								<td>{{commande.commande.prixTTC}}</td>
							</tr>#}
						</table>
						<br/><br/><br/>
						<form method="POST" action="{{path('ecommerce_commande', {'id':commande.id})}}">
							<input name="token" type="hidden" value="{{commande.commande.token}}">
							<input name="prix" type="hidden" value="{{commande.commande.prixHT}}">
							<input name="date" type="hidden" value="{{commande.date|date('dd/mm/Y')}}">
							
						<center>
							<button type="submit" class="btn btn-1">Payer</button>
						</center>
					
				</div>
			</div>
			
		</div>
{%endblock%}