{% trans_default_domain 'FOSUserBundle' %}
<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
        
            <div class="col-md-6" style="margin-bottom: 30px;">
                 <div class="heading"><h2>Mot de passe Oublié</h2></div>
                 <em>Veuillez remplir le formulaire pour changer votre mot de passe</em>
                 <br />
                
            </div>
            <div class="col-md-6" style="margin-bottom: 30px;">
                 <div class="heading"><h2>Formulaire de récupération</h2></div>
                 <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
   				 <div class=""form-group"">
	{{ form_label(form.plainPassword,'password')}}
    {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control', 'placeholder':'password'}}) }}
    {{ form_label(form.plainPassword,'confirm password')}}
     {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control', 'placeholder':'confirm password'}}) }}
     <br />
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-4" />
    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>
